$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-primary-color: #e6e1ff;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-primary-color;
}
